[submodule "src/main/java/eu/girc/terra/gui/guilib"]
	path = src/main/java/eu/girc/terra/gui/guilib
	url = https://github.com/German-Immersive-Railroading-Community/guilib
[submodule "eu/gir/girsignals/guis/guilib"]
	path = eu/gir/girsignals/guis/guilib
	url = https://github.com/German-Immersive-Railroading-Community/guilib
[submodule "src/main/java/eu/gir/girsignals/guis/guilib"]
	path = src/main/java/eu/gir/girsignals/guis/guilib
	url = https://github.com/German-Immersive-Railroading-Community/guilib
